FLASK_ENV="development"

KNACK_STREET_BANNER_APP_ID=""
KNACK_STREET_BANNER_API_KEY=""
KNACK_SMART_MOBILITY_APP_ID=""
KNACK_SMART_MOBILITY_API_KEY=""

AWS_DEFAULT_REGION="${AWS_DEFAULT_REGION}"
AWS_ACCESS_KEY_ID="${AWS_ACCESS_KEY_ID}"
AWS_SECRET_ACCESS_KEY="${AWS_SECRET_ACCESS_KEY}"
